* {
	margin: 0;
	padding: 0;
}

body {
	background: #dae3e7 none repeat scroll 0 0;
	color: #434343;
	font-size: 16px;
}

a {
	color: #bdc7c1;
}

a:hover {
	text-decoration: none;
	color: #ea8a63;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.header {
	padding-top: 10px;
}

.header .profile-content .name {
	font-size: 38px;
	margin-bottom: 5px;
	margin-top: 0;
}

.header .profile-content .desc {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 0;
}

.header .profile-content .social a {
	background: #535556;
	color: #fff;
	width: 36px;
	height: 36px;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #fff;
	text-align: center;
}

.header .profile-content .social a.github:hover {
	background: #000000;
}

.header .profile-content .social a.linkedin:hover {
	background: #0077b5;
}

.header .profile-content .social a .fa {
	font-size: 20px;
	padding-top: 8px;
}

.center {
	text-align: center;
}

/* ======= INDEX ======= */
#index {
	margin-top: 10px;
}

.section .heading {
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 0;
}

.experience .item .title {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 5px;
	margin-top: 0;
}

.experience .item .title .place {
	font-weight: bold;
}

.experience .item {
	margin-bottom: 30px;
}

.skills .skillset .level-title, .education .title {
	font-size: 18px;
	margin-bottom: 0;
}

.education .item .university {
	font-size: 13px;
	font-weight: 600;
	padding-left: 25px;
}

.bold {
	font-weight: bold;
}

body.nightMode {
    color: #bdc7c1 !important;
    background-color: #142634;
}

body.nightMode {
    color: #bdc7c1 !important;
}

body.nightMode .panel {
    background-color: #142634 !important;
    border-color: #5a666b !important;
}

/* ======= Footer ======= */
.footer {
	float: left;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
}

@media ( min-width : 768px) and (max-width: 1047px) {
}

@media ( max-width : 767px) {
	h2 {
		margin-bottom: 0;
	}
	.container {
		padding: 0;
	}
	.footer.container {
		padding-bottom: 10px;
	}
}