* {
    margin: 0;
    padding: 0;
}

body {
    background: #142634 none repeat scroll 0 0 !important;
    font-family: Helvetica, sans-serif;
    color: #bdc7c1 !important;
    padding-top: 1rem;
}

a, button.btn {
    color: #bdc7c1;
}

button.btn:hover {
    text-decoration: none;
    background-color: #bdc7c1;
    color: #142634;
}

.center {
    text-align: center;
}

@media ( min-width: 768px) and (max-width: 1047px) {
}

@media ( max-width: 767px) {
}
